

h1 {
  color: salmon;
}

body {
  background-color: #E9ECE8;
  color: #5A6063;
  font-family: helvetica;
  text-align: center;
}

.container {
  width: 70vw;
  margin: 0 auto;
}

.img-row {
  width: 100%;
  margin-top: 3%;
}

.img-box {
  display: inline-flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 2em;
  font-weight: 700;
  color: white;
  width: 25%;
  height: 20vw;
  margin: 0 1.5%;
}

.see-all {
  background-color: white;
  width: 25%;
  margin: 5% auto;
  border: 1.5px solid #B6B9B6;
  padding: 1%;
  font-weight: 600;
}












